.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* .myCustomClass {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: linear-gradient(89.94deg, rgba(255, 0, 0, 0.39) 4.34%, rgba(0, 26, 159, 0.69) 51.08%, #00FED0 95%);
} */
.myCustomClass {
  background: linear-gradient(89.94deg, rgba(255, 0, 0, 0.39) 4.34%, rgba(0, 26, 159, 0.69) 51.08%, #00FED0 95%);
  font-size: 96px;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
